/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(/assets/img/sfondo.png);
/*     background-repeat: repeat; */
}

header,
main,
footer {
    margin: 20px auto;
    width: 500px; /*  to make it always max 500px even on bigger screen together with the auto in the previous line*/
    padding: 40px 20px;
    box-shadow: 0.3em 0.3em 1.2em rgba(14, 12, 12, 0.6); /* fix this */
}

h3 {
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
    color: whitesmoke;
    font-weight: 500;
}

/* HEADER */

header {
    background-color: rgb(2, 121, 151);
    text-align: center;
}

header img {
    width: 70%;
}

nav a{
    font-size: 1.5em;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
}

nav li {
    margin: 10px;
}


/* MAIN */

main {
    background-color: white;
}

/* ELEMENTI NEL MAIN - ARTICLE */

h1 {
    font-size: 2.2em;
    font-weight: 500;
}

p {
    font-size: 1.3em;
    margin: 20px auto;
    line-height: 1.2em;
}

#author {
    color: grey;
}

strong {
    color: rgb(155, 44, 127);
    font-weight: 500;
}

code {
    background-color: rgb(231, 231, 231);
    border-radius: 20%;
    border: 1px solid grey; 

}


main ul {
    list-style: circle;
    padding-left: 10%;
    line-height: 1.7em;
    /* list-style-position: outside; */
}

li {
    font-size: 1.3em;
}

h4 {
    font-size: 1.4em;
}



main ol {
    list-style: decimal;
    padding-left: 10%;
}

a {
    color: rgb(2, 179, 179);
    font-weight: 500;
}

#video {
    display: block;
    width: 100%;
    border-radius: 10%;
}

/* TABELLE */

caption {
    font-weight: 500;
    font-style: italic;
}

table {
    font-size: 1.2em;
    width: 100%;
    border-bottom: 3px solid rgb(0, 119, 255);
}

th, td {
    padding: 5%; /* fix overflow */
}

th {
    background-color: rgb(0, 119, 255);
    border: 1px solid #eee;
}

tr:nth-child(even) {
    background-color: rgb(231, 231, 231);
}




/* FORM */

#box-novità {
    background-color: rgb(231, 231, 231);
    margin: 30px auto;
    text-align: center;
    padding-bottom: 10px
}

main h2 {
    font-size: 1.8em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    width: 70%;
    height: 30px;
    font-size: 1.2em;
    border: none;
    border-bottom: 1px dotted #000;
}

button {
    background-color: rgb(0, 119, 255);
    color: whitesmoke;
    height: 30px;
    font-size: 1.2em;
    border: none;
}

#box-novità p {
/*     text-align: left; */
}



/* ELEMENTI NELL' ASIDE */

#box-aside {

}

.articoli {
    background-color: rgb(231, 231, 231);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.calendar {
    text-align: right;
    font-size: 0.9em;
}

/* FOOTER */

footer {
    background-color: rgb(2, 85, 105);
    text-align: center;
    color: whitesmoke;
    font-size: 0.9em;
}

footer a {
    color: deeppink;
}
